/**
 * @file
 * Nice Menus - Default Styles for Berkeley
 *
 * Styles for nice menus
 * Requires Nice Menus module (http://drupal.org/project/nice_menus)
 * See README.txt and the handbook page (http://drupal.org/node/185543)
 */

 @import "base";

/******************************
 Global CSS for ALL menu types
******************************/

ul.nice-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left; /* LTR */

  ul {
    padding: 0;
    margin: 0;
    top: 2.8em;
    width: 12.5em;

    li {
      width: 12.5em;
    }
  }

  li {
    float: left; /* LTR */
    border: none; /* Override nice_menus_default.css in module */
  }
}

/* Override #navigation defaults */
#navigation ul.nice-menu li a {
  float: none;
}

#navigation ul.nice-menu li li a,
#navigation ul.nice-menu li li li a{
  padding: 2px 8px 2px 9px;
}

/******************************
 HORIZONTAL (down) menus
******************************/

ul.nice-menu-down {
  float: left; /* LTR */
  border: 0;

  li {
    background: $berkeley-drop-blue;
    border-top: none;

    &.menuparent {
      background: $berkeley-drop-blue; /* LTR */

      &:hover {
        background: $berkeley-drop-blue; /* LTR */
      }
    }

    li {
      border-top: none;
      border-left: $border-solid-thin-blue;

      &.menuparent {
        background: $berkeley-drop-blue url(../images/bullet-arrow-right.png) right center no-repeat; /* LTR */

        &:hover {
          background: $berkeley-drop-blue url(../images/bullet-arrow-right.png) right center no-repeat; /* LTR */
        }
      }

      li {
        background: $berkeley-drop-blue; /* LTR */
      }

    }

    ul li ul {
      left: 12.5em; /* LTR */
      top: -1px;
    }
  }

  ul {
    left: 0; /* LTR */

    li {
      clear: both;
    }
  }

}

/* Override #navigation li a:hover default */
#navigation ul.nice-menu-down li li.menuparent>a:hover {
  background: $berkeley-dark-blue url(../images/bullet-arrow-right.png) right center no-repeat; /* LTR */

}

/******************************
 VERTICAL (left/right) menus
******************************/

/* This is the default width of all vertical menus. */

ul.nice-menu-right, ul.nice-menu-left,
ul.nice-menu-right li, ul.nice-menu-left li {
  width: 12.5em;
}

/* VERTICAL menus where submenus pop RIGHT (default). */
ul.nice-menu-right {
  ul {
    width: 12.5em;
    left: 12.5em;
    top: 0;

    ul {
      width: 12.5em;
      left: 12.5em;
      top: 0;
    }
  }

  li {
    &.menuparent {
      background: $berkeley-drop-blue url(../images/bullet-arrow-right.png) right center no-repeat;

      &:hover {
        background: $berkeley-drop-blue url(../images/bullet-arrow-right.png) right center no-repeat;
      }

      li {
        background: $berkeley-drop-blue;
        border-top: $border-solid-thin-blue;
      }
    }

    li {
      &.menuparent {
        background: $berkeley-drop-blue url(../images/bullet-arrow-right.png) right center no-repeat;

        &:hover {
          background: $berkeley-drop-blue url(../images/bullet-arrow-right.png) right center no-repeat;
        }
      }
    }
  }
}

/* Override #navigation li a:hover default */
#navigation ul.nice-menu-right li.menuparent>a:hover {
  background: $berkeley-dark-blue url(../images/bullet-arrow-right.png) right center no-repeat; /* LTR */
}

/* VERTICAL menus where submenus pop LEFT. */

ul.nice-menu-left {
  li {
    ul {
      width: 12.5em;
      left: -12.5em;
      top: 0;
    }

    &.menuparent {
      background: $berkeley-drop-blue url(../images/bullet-arrow-left.png) left center no-repeat;

      li {
        background: $berkeley-drop-blue;
        border-top: $border-solid-thin-blue;

        &.menuparent {
          background: $berkeley-drop-blue url(../images/bullet-arrow-left.png) left center no-repeat;
        }
      }

      &:hover {
        background: $berkeley-drop-blue url(../images/bullet-arrow-left.png) left center no-repeat;
      }
    }

    li {
      &.menuparent {
        background: $berkeley-drop-blue url(../images/bullet-arrow-left.png) left center no-repeat;

        &:hover {
          background: $berkeley-drop-blue url(../images/bullet-arrow-left.png) left center no-repeat;
        }
      }
    }

    ul li ul{
      width: 12.5em;
      left: -12.5em;
      top: 0;
    }
  }
  ul {
    a {
      padding-left: 14px;
    }
  }

  a {
    padding-left: 14px;
  }
}

/* Override #navigation defaults */
#navigation ul.nice-menu-left li a {
  text-align: right;
}

#navigation ul.nice-menu-left li.menuparent>a:hover {
  background: $berkeley-dark-blue url(../images/bullet-arrow-left.png) left center no-repeat; /* LTR */
}
