/**
 * @file
 * Open Berkeley: FAQ styles;
 *
 * Used only if Open Berkeley - FAQ is checked in Berkeley theme settings (admin/appearance/settings/berkeley)
 * Requires FAQ module: http://drupal.org/project/faq
 *
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/klu\/github\/berkeley-7\.x\/social-link-icons\/\*\.png}line{font-family:\0000398}}
.social-link-icons-sprite {
  background: url('../../images/social-link-icons-sa0e1f4b582.png') no-repeat;
}

/* 22px for page */
/* 20px */
/* 15.5px */
/* 14px */
/* 12px */
/* 10.5px */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/klu\/github\/berkeley-7\.x\/sass\/openberkeley\/openberkeley_faq\.scss}line{font-family:\0000312}}
.faq-content {
  /* Faux panel for FAQ content - will need to override if panelized */
  border: 1px solid #d4d4d4;
  margin: 20px 0px 0px 0px;
  padding: 8px 14px 10px;
  background: white url("../../images/ltgrey_gradient_1x300.png") repeat-x left top;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/klu\/github\/berkeley-7\.x\/sass\/openberkeley\/openberkeley_faq\.scss}line{font-family:\0000320}}
.faq-content a:link,
.faq-content a:visited {
  color: #0066a0;
  text-decoration: underline;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/klu\/github\/berkeley-7\.x\/sass\/openberkeley\/openberkeley_faq\.scss}line{font-family:\0000325}}
.faq-content .faq-category-menu {
  border-top: 1px solid #cccccc;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/klu\/github\/berkeley-7\.x\/sass\/openberkeley\/openberkeley_faq\.scss}line{font-family:\0000329}}
.faq-content .field-name-field-category {
  display: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/klu\/github\/berkeley-7\.x\/sass\/openberkeley\/openberkeley_faq\.scss}line{font-family:\0000333}}
.faq-content .faq-ul-questions-top li a {
  color: #003461;
  text-decoration: underline;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/klu\/github\/berkeley-7\.x\/sass\/openberkeley\/openberkeley_faq\.scss}line{font-family:\0000338}}
.faq-content .faq-question {
  font-weight: bold;
  font-size: 1.2em;
  border-top: 1px solid #cccccc;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/klu\/github\/berkeley-7\.x\/sass\/openberkeley\/openberkeley_faq\.scss}line{font-family:\0000345}}
.faq-content .faq-answer ul.links li a {
  font-size: .85em;
  color: #003461;
  text-decoration: none;
}

/* Remove top borders */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/klu\/github\/berkeley-7\.x\/sass\/openberkeley\/openberkeley_faq\.scss}line{font-family:\0000354}}
.faq > div:first-of-type {
  border-top: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/klu\/github\/berkeley-7\.x\/sass\/openberkeley\/openberkeley_faq\.scss}line{font-family:\0000358}}
.faq > div:first-of-type > div:nth-child(2) > div:first-of-type > div:nth-child(2) {
  border-top: none;
}

/* Collapsible FAQ styling */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/klu\/github\/berkeley-7\.x\/sass\/openberkeley\/openberkeley_faq\.scss}line{font-family:\0000367}}
.faq-question-answer .faq-question {
  font-weight: normal;
  border-top: 1px dotted #cccccc;
  padding: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/klu\/github\/berkeley-7\.x\/sass\/openberkeley\/openberkeley_faq\.scss}line{font-family:\0000372}}
.faq-question-answer .faq-question a:link,
.faq-question-answer .faq-question a:visited {
  color: #333333;
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/klu\/github\/berkeley-7\.x\/sass\/openberkeley\/openberkeley_faq\.scss}line{font-family:\0000377}}
.faq-question-answer:first-of-type {
  padding-top: 10px;
}

/* View footer -- to use, add <span class="faq-footer">; divs aren't allowed in footer text area;
 * Add to allowed classes for appropriate text format
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/klu\/github\/berkeley-7\.x\/sass\/openberkeley\/openberkeley_faq\.scss}line{font-family:\0000386}}
.faq-footer {
  display: block;
  border-top: 1px dotted #cccccc;
  margin-top: 10px;
  font-size: .875em;
}

/* Add faq-body class to view field as needed; switch to use span rather than div
 * Add to allowed classes for appropriate text format
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/klu\/github\/berkeley-7\.x\/sass\/openberkeley\/openberkeley_faq\.scss}line{font-family:\0000397}}
.faq-body p:first-of-type {
  margin: 0;
  display: inline;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/klu\/github\/berkeley-7\.x\/sass\/openberkeley\/openberkeley_faq\.scss}line{font-family:\00003101}}
.faq-body ul {
  margin: 0;
}
