/**
 * @file
 * Block Styling
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/klu\/github\/berkeley-7\.x\/social-link-icons\/\*\.png}line{font-family:\0000398}}
.social-link-icons-sprite {
  background: url('../images/social-link-icons-sa0e1f4b582.png') no-repeat;
}

/* 22px for page */
/* 20px */
/* 15.5px */
/* 14px */
/* 12px */
/* 10.5px */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/klu\/github\/berkeley-7\.x\/sass\/blocks\.scss}line{font-family:\000039}}
.block {
  /* Block wrapper */
  margin-bottom: 1.5em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/klu\/github\/berkeley-7\.x\/sass\/blocks\.scss}line{font-family:\0000312}}
.block.first {
  /* The first block in the region */
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/klu\/github\/berkeley-7\.x\/sass\/blocks\.scss}line{font-family:\0000315}}
.block.last {
  /* The last block in the region */
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/klu\/github\/berkeley-7\.x\/sass\/blocks\.scss}line{font-family:\0000318}}
.block.odd {
  /* Zebra striping for each block in the region */
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/klu\/github\/berkeley-7\.x\/sass\/blocks\.scss}line{font-family:\0000321}}
.block.even {
  /* Zebra striping for each block in the region */
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/klu\/github\/berkeley-7\.x\/sass\/blocks\.scss}line{font-family:\0000324}}
.block h2.block-title {
  /* Block title */
  background: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #dadada), color-stop(100%, #fefefe));
  background: -webkit-linear-gradient(bottom, #dadada 0%, #fefefe 100%);
  background: -moz-linear-gradient(bottom, #dadada 0%, #fefefe 100%);
  background: -o-linear-gradient(bottom, #dadada 0%, #fefefe 100%);
  background: -ms-linear-gradient(bottom, #dadada 0%, #fefefe 100%);
  background: linear-gradient(bottom, #dadada 0%, #fefefe 100%);
  padding: 2px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/klu\/github\/berkeley-7\.x\/sass\/blocks\.scss}line{font-family:\0000331}}
#block-aggregator-category-1 {
  /* Block for the latest news items in the first category */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/klu\/github\/berkeley-7\.x\/sass\/blocks\.scss}line{font-family:\0000334}}
#block-aggregator-feed-1 {
  /* Block for the latest news items in the first feed */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/klu\/github\/berkeley-7\.x\/sass\/blocks\.scss}line{font-family:\0000337}}
#block-block-1 {
  /* First block created with "Add block" link */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/klu\/github\/berkeley-7\.x\/sass\/blocks\.scss}line{font-family:\0000340}}
#block-blog-recent {
  /* "Recent blog posts" block */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/klu\/github\/berkeley-7\.x\/sass\/blocks\.scss}line{font-family:\0000343}}
#block-book-navigation {
  /* "Book navigation" block for the current book's table of contents */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/klu\/github\/berkeley-7\.x\/sass\/blocks\.scss}line{font-family:\0000346}}
#block-comment-recent {
  /* "Recent comments" block */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/klu\/github\/berkeley-7\.x\/sass\/blocks\.scss}line{font-family:\0000349}}
#block-forum-active {
  /* "Active forum topics" block */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/klu\/github\/berkeley-7\.x\/sass\/blocks\.scss}line{font-family:\0000352}}
#block-forum-new {
  /* "New forum topics" block */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/klu\/github\/berkeley-7\.x\/sass\/blocks\.scss}line{font-family:\0000355}}
#block-locale-language {
  /* Language switcher block */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/klu\/github\/berkeley-7\.x\/sass\/blocks\.scss}line{font-family:\0000358}}
#block-menu-menu-NAME {
  /* Custom menu block */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/klu\/github\/berkeley-7\.x\/sass\/blocks\.scss}line{font-family:\0000361}}
#block-node-recent {
  /* "Recent content" block */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/klu\/github\/berkeley-7\.x\/sass\/blocks\.scss}line{font-family:\0000364}}
#block-node-syndicate {
  /* "Syndicate" block for primary RSS feed; see also page.css's .feed-icon */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/klu\/github\/berkeley-7\.x\/sass\/blocks\.scss}line{font-family:\0000367}}
#block-poll-recent {
  /* "Most recent poll" block */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/klu\/github\/berkeley-7\.x\/sass\/blocks\.scss}line{font-family:\0000370}}
#block-profile-author-information {
  /* "Author information" block for the profile of the page's author */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/klu\/github\/berkeley-7\.x\/sass\/blocks\.scss}line{font-family:\0000373}}
#block-search-form {
  /* "Search form" block */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/klu\/github\/berkeley-7\.x\/sass\/blocks\.scss}line{font-family:\0000376}}
#block-shortcut-shortcuts {
  /* "Shortcuts" block */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/klu\/github\/berkeley-7\.x\/sass\/blocks\.scss}line{font-family:\0000379}}
#block-statistics-popular {
  /* "Popular content" block */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/klu\/github\/berkeley-7\.x\/sass\/blocks\.scss}line{font-family:\0000382}}
#block-system-main-menu {
  /* "Main menu" block */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/klu\/github\/berkeley-7\.x\/sass\/blocks\.scss}line{font-family:\0000385}}
#block-system-management {
  /* "Management" block for Drupal management menu */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/klu\/github\/berkeley-7\.x\/sass\/blocks\.scss}line{font-family:\0000388}}
#block-system-navigation {
  /* "Navigation" block for Drupal navigation menu */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/klu\/github\/berkeley-7\.x\/sass\/blocks\.scss}line{font-family:\0000391}}
#block-system-user-menu {
  /* "User menu" block for Drupal user menu */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/klu\/github\/berkeley-7\.x\/sass\/blocks\.scss}line{font-family:\0000394}}
#block-system-help {
  /* "System help" block */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/klu\/github\/berkeley-7\.x\/sass\/blocks\.scss}line{font-family:\0000397}}
#block-system-main {
  /* "Main page content" block */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/klu\/github\/berkeley-7\.x\/sass\/blocks\.scss}line{font-family:\00003100}}
#block-system-powered-by {
  /* "Powered by Drupal" block */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/klu\/github\/berkeley-7\.x\/sass\/blocks\.scss}line{font-family:\00003103}}
#block-user-login {
  /* "User login form" block */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/klu\/github\/berkeley-7\.x\/sass\/blocks\.scss}line{font-family:\00003106}}
#block-user-new {
  /* "Who's new" block for a list of the newest users */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/klu\/github\/berkeley-7\.x\/sass\/blocks\.scss}line{font-family:\00003109}}
#block-user-online {
  /* "Who's online" block for a list of the online users */
}
