/**
 * @file
 * Panels Styling
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/klu\/github\/berkeley-7\.x\/social-link-icons\/\*\.png}line{font-family:\0000398}}
.social-link-icons-sprite {
  background: url('../images/social-link-icons-sa0e1f4b582.png') no-repeat;
}

/* 22px for page */
/* 20px */
/* 15.5px */
/* 14px */
/* 12px */
/* 10.5px */
/* Fieldable Panel Panes */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/klu\/github\/berkeley-7\.x\/sass\/panels-styles\.scss}line{font-family:\000039}}
.fieldable-panels-pane {
  overflow: hidden;
  padding: 2px 10px 0px 8px;
}

/* Pane Content */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/klu\/github\/berkeley-7\.x\/sass\/panels-styles\.scss}line{font-family:\0000317}}
.pane-content a:link,
.pane-content a:visited {
  color: #0066a0;
  text-decoration: underline;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/klu\/github\/berkeley-7\.x\/sass\/panels-styles\.scss}line{font-family:\0000323}}
.pane-content .field-type-text-with-summary
ul:first-child {
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/klu\/github\/berkeley-7\.x\/sass\/panels-styles\.scss}line{font-family:\0000325}}
.pane-content .field-type-text-with-summary
ul:first-child li {
  list-style: inside;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/klu\/github\/berkeley-7\.x\/sass\/panels-styles\.scss}line{font-family:\0000328}}
.pane-content .field-type-text-with-summary
ul:first-child li.markItUpButton {
  list-style: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/klu\/github\/berkeley-7\.x\/sass\/panels-styles\.scss}line{font-family:\0000334}}
.pane-content .media-widget .preview {
  display: block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/klu\/github\/berkeley-7\.x\/sass\/panels-styles\.scss}line{font-family:\0000339}}
.pane-content .media-thumbnail img {
  margin: 0;
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/klu\/github\/berkeley-7\.x\/sass\/panels-styles\.scss}line{font-family:\0000345}}
.pane-content #edit-field-featured-image {
  padding-bottom: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/klu\/github\/berkeley-7\.x\/sass\/panels-styles\.scss}line{font-family:\0000348}}
.pane-content #edit-field-featured-image .media-item {
  width: auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/klu\/github\/berkeley-7\.x\/sass\/panels-styles\.scss}line{font-family:\0000351}}
.pane-content #edit-field-featured-image .media-item img {
  padding: 0;
}

/*
 * Panopoly Overrides
 */
/* #menu-block-settings in panopoly_magic.css messes up admin/structure/block/add-menu-block
 * Restore default and set for #modal-content only *
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/klu\/github\/berkeley-7\.x\/sass\/panels-styles\.scss}line{font-family:\0000365}}
#menu-block-settings {
  float: none;
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/klu\/github\/berkeley-7\.x\/sass\/panels-styles\.scss}line{font-family:\0000370}}
#modal-content #menu-block-settings {
  float: left;
  width: 48%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/klu\/github\/berkeley-7\.x\/sass\/panels-styles\.scss}line{font-family:\0000375}}
#modal-content .widget-preview-single {
  width: 45%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/klu\/github\/berkeley-7\.x\/sass\/panels-styles\.scss}line{font-family:\0000380}}
.pane-content .panopoly-image-half {
  float: left;
  margin-right: 2em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/klu\/github\/berkeley-7\.x\/sass\/panels-styles\.scss}line{font-family:\0000387}}
.pane-theme .admin-theme-image,
.pane-apps .admin-apps-image {
  padding-right: 1em;
}

/* Edit for displaying videos in reusable content modal window */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/klu\/github\/berkeley-7\.x\/sass\/panels-styles\.scss}line{font-family:\0000393}}
.panels-add-content-modal .pane-bundle-video {
  width: 50%;
}

/* Panel Styles - General */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/klu\/github\/berkeley-7\.x\/sass\/panels-styles\.scss}line{font-family:\00003102}}
.panel-pane h2 a:link,
.panel-pane h2 a:visited {
  text-decoration: none;
  color: #003461;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/klu\/github\/berkeley-7\.x\/sass\/panels-styles\.scss}line{font-family:\00003107}}
.panel-pane h2 a:hover,
.panel-pane h2 a:focus {
  text-decoration: underline;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/klu\/github\/berkeley-7\.x\/sass\/panels-styles\.scss}line{font-family:\00003112}}
.panel-pane p,
.panel-pane pre {
  /* Reset p and pre margins if under a heading */
  margin: 0 0 1.5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/klu\/github\/berkeley-7\.x\/sass\/panels-styles\.scss}line{font-family:\00003122}}
.pane-content .view a:link,
.pane-content .view a:visited {
  text-decoration: none;
  font-size: 1em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/klu\/github\/berkeley-7\.x\/sass\/panels-styles\.scss}line{font-family:\00003127}}
.pane-content .view a:hover,
.pane-content .view a:focus {
  text-decoration: underline;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/klu\/github\/berkeley-7\.x\/sass\/panels-styles\.scss}line{font-family:\00003132}}
.pane-content .view-header h2 {
  margin: 0;
}

/* Panel Styles - Panopoly Layout Overrides - Extend media queries */
/* Bryant Flipped Layout */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/klu\/github\/berkeley-7\.x\/sass\/panels-styles\.scss}line{font-family:\00003142}}
.bryant-flipped-sidebar .panel-pane h2 {
  font-size: 1.2em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/klu\/github\/berkeley-7\.x\/sass\/panels-styles\.scss}line{font-family:\00003149}}
.bryant-flipped-sidebar h2.node-title,
.bryant-flipped-sidebar h2.block-title,
.bryant-flipped-sidebar h2.title,
.bryant-flipped-sidebar h2.pane-title,
.bryant-flipped-sidebar h2.comment-form {
  padding: 5px 0px;
}

@media only screen and (max-width: 680px) {
  /* Bryant Flipped Layout */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/klu\/github\/berkeley-7\.x\/sass\/panels-styles\.scss}line{font-family:\00003159}}
  .bryant-flipped-sidebar,
  .bryant-flipped-content {
    width: 100%;
    float: none;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/klu\/github\/berkeley-7\.x\/sass\/panels-styles\.scss}line{font-family:\00003164}}
  .bryant-flipped-content-inner {
    margin-right: 0;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/klu\/github\/berkeley-7\.x\/sass\/panels-styles\.scss}line{font-family:\00003169}}
  .brenham-flipped-content,
  .brenham-flipped-sidebar {
    width: 100%;
    float: none;
  }

  /* Brenham Flipped Layout */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/klu\/github\/berkeley-7\.x\/sass\/panels-styles\.scss}line{font-family:\00003175}}
  .brenham-flipped-content-inner {
    margin-right: 0;
  }

  /* Burr Flipped Layout */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/klu\/github\/berkeley-7\.x\/sass\/panels-styles\.scss}line{font-family:\00003181}}
  .burr-flipped-content,
  .burr-flipped-sidebar {
    width: 100%;
    float: none;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/klu\/github\/berkeley-7\.x\/sass\/panels-styles\.scss}line{font-family:\00003186}}
  .burr-flipped-content-inner {
    margin-right: 0;
  }
}
@media only screen and (max-width: 960px) {
  /* Moscone Flipped Layout */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/klu\/github\/berkeley-7\.x\/sass\/panels-styles\.scss}line{font-family:\00003197}}
  .moscone-flipped-sidebar,
  .moscone-flipped-content {
    width: 100%;
    float: none;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/klu\/github\/berkeley-7\.x\/sass\/panels-styles\.scss}line{font-family:\00003202}}
  .moscone-flipped-content-inner {
    margin-right: 0;
  }

  /* Geary layout */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/klu\/github\/berkeley-7\.x\/sass\/panels-styles\.scss}line{font-family:\00003208}}
  .geary-column-content-region,
  .geary-column3 {
    width: 100%;
    float: none;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/klu\/github\/berkeley-7\.x\/sass\/panels-styles\.scss}line{font-family:\00003213}}
  .geary-column-content-region-inner {
    margin-right: 0;
  }
}
/* Panel Styles */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/klu\/github\/berkeley-7\.x\/sass\/panels-styles\.scss}line{font-family:\00003223}}
.panels-dashboard,
.page-admin-build-panels,
.page-admin-build-panels-dashboard #content-area {
  min-height: 50em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/klu\/github\/berkeley-7\.x\/sass\/panels-styles\.scss}line{font-family:\00003226}}
.panel-pane {
  border: 1px solid #d4d4d4;
  margin: 20px 0px 0px 0px;
  padding: 8px 14px 10px;
  background: white url("../images/ltgrey_gradient_1x300.png") repeat-x left top;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/klu\/github\/berkeley-7\.x\/sass\/panels-styles\.scss}line{font-family:\00003232}}
.pane-quicktabs-2 {
  margin: 0;
  padding: 0;
  border: none !important;
  background: none !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/klu\/github\/berkeley-7\.x\/sass\/panels-styles\.scss}line{font-family:\00003238}}
.panels-flexible-row {
  margin: 0;
  padding: 0;
}

/* Panels and Quick Tabs */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/klu\/github\/berkeley-7\.x\/sass\/panels-styles\.scss}line{font-family:\00003244}}
ul.quicktabs-tabs.quicktabs-style-zen li {
  margin: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/klu\/github\/berkeley-7\.x\/sass\/panels-styles\.scss}line{font-family:\00003246}}
ul.quicktabs-tabs.quicktabs-style-zen li a {
  color: #003461 !important;
  font-weight: normal;
}
